/* *** ▼ CSS para componente CartWidget.js ▼ *** */
.cartWidget {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contador {
    background-color: darkgrey;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
}

.carro {
    color: black;
}

.carro:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
/* *** ▲ CSS para componente CartWidget.js ▲ *** */