/* *** ▼ CSS para el listado de productos general o filtrado por categoria ▼ *** */
.productosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}

.productList h1 {
    text-align: center;
}

.btn {
    width: 160px;
    height: 35px;
    border: 2px solid rgba(119, 119, 119, 0.61);
    box-shadow: 5px 5px rgba(119, 119, 119, 0.205);
    border-radius: 8px;
    text-align: center;
}
/* *** ▲ CSS para el listado de productos general o filtrado por categoria ▲ *** */