/* *** ▼ CSS para el listado de productos general o filtrado por categoria ▼ *** */
.productosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}

.productList h1 {
    text-align: center;
}

/* *** ▲ CSS para el listado de productos general o filtrado por categoria ▲ *** */