
.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.navLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.navSection {
    display: flex;
    flex-direction: column;
    min-width: 184px;
    padding-bottom: 15px;
}

.titulo-web {
    font-size: 2rem;
    color: white;
}


.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    height: 100%;
}

.menu a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.menu a {
    align-items: center;
}

.menu li.activo {
    background-color: #555;
}

.menu li:hover {
    background-color: #777;
}