
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: antiquewhite;
}

.logoRedes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logoRedes img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}